/* Reset CSS */
html {
    box-sizing: border-box;
    font-size: 16px; /* Tamaño de fuente base */
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.6; /* Altura de línea para una mejor legibilidad */
    color: #f4f4f4; /* Color de texto básico */
    background-color: #333; /* Color de fondo suave */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura de la ventana */
    padding: 20px; /* Espaciado alrededor del contenido para evitar que toque los bordes de la ventana */
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400; /* Peso de fuente más ligero para los encabezados */
  }

  canvas {
    border: 1px solid #f4f4f4;
  }
  
  p {
    margin-bottom: 1rem; /* Espaciado debajo de los párrafos para separar el texto */
  }
  
  a {
    color: #f4f4f4; /* Color para enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
  }
  
  a:hover {
    text-decoration: underline; /* Añade un subrayado al pasar el ratón sobre los enlaces para indicar que son clicables */
  }
  
  /* Agrega estilos adicionales según sea necesario */
  